<div *ngIf="!formulario">
    <mat-progress-bar mode="buffer"></mat-progress-bar>
</div>

<div class="divCard">
    <mat-card>
        <mat-card-header>
            <mat-card-title><h3>Cadastro de Rotas</h3></mat-card-title>
        </mat-card-header>


<form [formGroup]="formulario" *ngIf="formulario" (ngSubmit)="EnviarFormulario()">
    <div class="cardErros" *ngIf="erros.length > 0">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Algo deu errado :(</mat-card-title>
            </mat-card-header>

            <mat-divider></mat-divider>

            <mat-card-content>
                <div class="divErros">
                    <h4 *ngFor="let erro of erros" class="textoErros">
                        {{erro}}
                    </h4>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <mat-card-content>

        <div>
            <mat-form-field>
                <mat-label>Origem</mat-label>
                <input type="text" formControlName="origem" matInput placeholder="Digite a Origem da Rota" required minlength="1" maxlength="10"/>
                <mat-error *ngIf="propriedade.origem.touched && propriedade.origem.invalid">
                    <sup>*</sup> Digite a Origem da Rota
                </mat-error>

                <mat-error *ngIf="propriedade.origem.errors?.minlength && propriedade.origem.invalid">
                    <sup>*</sup> Use mais caracteres
                </mat-error>

                <mat-error *ngIf="propriedade.origem.errors?.maxlength && propriedade.origem.invalid">
                    <sup>*</sup> Use menos caracteres
                </mat-error>
            </mat-form-field>
        </div>        

        <div>
            <mat-form-field>
                <mat-label>Destino</mat-label>
                <input type="text" formControlName="destino" matInput placeholder="Digite o Destino da Rota" required minlength="1" maxlength="10"/>
                <mat-error *ngIf="propriedade.destino.touched && propriedade.destino.invalid">
                    <sup>*</sup> Digite O Destino da Rota 
                </mat-error>

                <mat-error *ngIf="propriedade.destino.errors?.minlength && propriedade.destino.invalid">
                    <sup>*</sup> Use mais caracteres
                </mat-error>

                <mat-error *ngIf="propriedade.destino.errors?.maxlength && propriedade.destino.invalid">
                    <sup>*</sup> Use menos caracteres
                </mat-error>
            </mat-form-field>
        </div>        

        

        <div>
            <mat-form-field>
                <mat-label>Valor da Rota</mat-label>
                <input type="text" formControlName="valor" matInput currencyMask placeholder="Digite o valor da Rota" required/>
                <mat-error *ngIf="propriedade.valor.touched && propriedade.valor.invalid">
                    <sup>*</sup> Digite o valor da Rota
                </mat-error>
            </mat-form-field>
        </div>
        
        
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
        <div>
            <button type="submit" mat-stroked-button color="primary" [disabled]="formulario.invalid">Salvar</button>
            <button type="button" mat-stroked-button (click)="VoltarListagem()">Voltar</button>
        </div>
    </mat-card-actions>
    </form>
    </mat-card>
</div>